.wrapper {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.contentWrapper {
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   padding: 27px 156px;
}
