.container {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   display: flex;
   width: 1440px;
   height: 770px;
   margin: 0 auto;
   overflow: hidden;
   background-color: var(--white);
}
