.wrapper {
   width: 100%;
   padding: 27px 0;
}

.title {
   font-size: 28px;
   font-weight: 400;
   line-height: 36px;
   color: var(--black);
}

.contentBox {
   display: flex;
   justify-content: center;
   flex-grow: 1;
   gap: 24px;
   margin-top: 40px;

   table {
      width: 100%;
      border: 1.5px solid var(--neutral-10);

      td {
         width: 282px;
      }
   }
}

.sort {
   display: flex;
   align-items: center;
   height: 24px;
   cursor: pointer;
}