.wrapper {
   width: 100%;
   padding: 27px 0;
}

.leadsHeader {
   display: flex;
   justify-content: space-between;
}

.title {
   font-size: 28px;
   font-weight: 400;
   line-height: 36px;
   color: var(--black);
}

.searchWrapper {
   display: flex;
   gap: 4px;

   & button {
      background-color: var(--black);
      color: var(--white);
      transition: color 0.3s, background 0.3s, border 0.3s, box-shadow 0.3s;
      cursor: pointer;
   }
}

.contentBox {
   display: flex;
   justify-content: center;
   flex-grow: 1;
   gap: 24px;
   margin-top: 24px;
}
