.tooltip {
    background-color: var(--white);
    padding: 12px 16px;
    border: 1px solid var(--neutral-90);

    .collected {
       font-size: 22px;
    }
    
    .date {
       font-size: 14px;
       color: var(--neutral-50);
    }
 }
  