table {
   width: 100%;
   border: 1.5px solid var(--neutral-10);

   tr {
      justify-content: space-between;
      height: 56px;
   }

   td:nth-child(1) {
      flex-grow: 2;
   }
   
   td:nth-child(2) {
      flex-grow: 3;
   }
}

.sort {
   display: flex;
   align-items: center;
   height: 24px;
   cursor: pointer;
}
