.innerWrapper {
   padding: 0 156px;
}

.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 53px;
   background-color: var(--neutral-90);

   .navList {
      display: flex;
      gap: 38px;
      list-style: none;
   }

   .logOutBtn {
      padding: 10px 12px;
      border: none;
      background: none;
      cursor: pointer;

      &:hover {
         text-decoration: underline;
      }
   }
}
